<section id="resume">
    <section class="alpha-bg">
            <section class="row">    
                    <!-- Background from https://tenshiikisu.tumblr.com/post/79015021080/heres-my-collection-of-pixel-backgrounds-tile-->
                <section class="col-md-12">
                    <h2 id="my-title">James Hanley - Full Stack Engineer</h2>
                </section>
                </section>
                <section class="job">
                    <section class="row company-information">
                        <section class="col-md-6 company-name">
                            <h4>People Tech Group</h4>
                        </section>
                        <section class="col-md-6 job-title">
                            <h4>Software Developer</h4><h6>May 2019 - Current</h6>
                        </section>
                    </section>
                    <section class="row">
                        <section class="job-highlights col-md-12">
                            <ul>
                                <li>Developed Angular 8 SPA, for a demo which extracts text from pictures using AWS lambda functions in python. It was deployed on an S3 bucket, and summarizes longer strands of text. The demo was shown to investors at Amazon with the project completion date of a two week sprint.</li>
                                <li>Angular/C# Developer for company internal tool for screening candidates. Project was programmed in C# with Entity Framework Core and Angular 8. Implemented designs from UX/UI team. Team project based around Agile Methodology using Azure Devops. Project was deployed on Azure. It used CosmosDB and ExpressJS for its prototype. Final deployment used T-SQL in its final sprint.</li>
                                <li>Developed a Dialogflow chatbot for a <a href="http://ellipticaai.com/">client contract</a>. Developed client project in Python, Flask, Nodejs and Expressjs with Socket.io. Implemented bot to agent passoff in both Python w/flask and JS stack. Project is soon to be deployed.</li>
                                <li>Provided POC of project to be used for Ohio University. Developed frontend in Angular 8, implemented UX/UI team's wireframes. Wrote prototype db in MySQL, deployed application to Heroku.</li>
                                <li>During internship period, I worked on a team Developing an internal tool, managing employee loans across the company. The project used C# WCF and Angular 7. At the end of the internship, the project was deployed to Azure with TSQL.</li>
                            </ul>
                        </section>
                    </section>
                </section>
                <section class="job">
                    <section class="row company-information">
                        <section class="col-md-6 company-name">
                            <h4>Trillogy, University of Washington Branch</h4>
                        </section>
                        <section class="col-md-6 job-title">
                            <h4>Substitute ​T.A. Full Stack (MERN) Bootcamp</h4><h6>April - July 2019</h6>
                        </section>
                    </section>
                    <section class="row">
                        <section class="job-highlights col-md-12">
                            <ul>
                                <li>Support student's on developing their skills. Heavy focus on MERN stack.</li>
                            </ul>
                        </section>
                    </section>
                </section>
                <section class="job">
                    <section class="row company-information">
                        <section class="col-md-6 company-name">
                            <h4>dTOOR, Cyrclephone project</h4>
                        </section>
                        <section class="col-md-6 job-title">
                            <h4>Javascript Engineer</h4><h6>October - December 2018</h6>
                        </section>
                    </section>
                    <section class="row">
                        <section class="job-highlights col-md-12">
                            <ul>
                                <li>Develop total redesign of company product website in MEAN stack for first prototype in 2 week sprint.</li>
                                <li>Implemented customer UX/UI driven development cycles with weekly interviews. Passed all critiques and positive commentary along the way to management.</li>
                                <li>Websites for Cyrclephone were not listing prior. Implemented SEO redesign, website is now listing on google's search results.</li>
                                <li>Developed last official sprint, converting MEAN stack app to a Wordpress application in 48 hour sprint.</li>
                            </ul>
                        </section>
                    </section>
                </section>
                <section class="job">
                    <section class="row company-information">
                        <section class="col-md-6 company-name">
                            <h4>TERRA Staffing Group/Suddath</h4>
                        </section>
                        <section class="col-md-6 job-title">
                        <h4>Laboratory Technician</h4><h6>January - June 2018</h6>
                </section>
            </section>
            <section class="row">
                <section class="job-highlights col-md-12">
                    <ul>
                        <li>Provided services for Server Migration at various Microsoft locations</li>
                        <li>Cable servers according to Microsoft's internal guidelines.</li>
                    </ul>
                </section>
            </section>
        </section>
        <section class="job">
            <section class="row company-information">
                <section class="col-md-6 company-name">
                    <h4>Spread Effect</h4>
                </section>
                <section class="col-md-6 job-title">
                    <h4>Content Editor/SEO</h4><h6>January 2016 - February 2018</h6>
                </section>
            </section>
            <section class="row">
                <section class="job-highlights col-md-12">
                    <ul>
                        <li>Freelance guest writing for various blogs.</li>
                        <li>Used various tools to service and develop strong results for each client.</li>
                    </ul>
                </section>
            </section>
        </section>
    </section>
</section>