#resume{
    background-image: url('./../../../assets/images/spacechoice2.gif');
    background-repeat: repeat;
    background-attachment: fixed;
    color:white;
    padding: 2em 2em 2em 2em;
}
h2 h4 h6 {
    text-align: center;
}
li{
    margin-bottom: 1em;
}
.job{
    margin-top: 2em;
    margin-bottom: 2em;
}
.company-information{
    margin-bottom: 2em;
}