#resume{
    background-image: url('./../../../assets/images/spacechoice2.gif');
    background-repeat: repeat;
    background-attachment: fixed;
    color:white;
    padding: 2em 2em 2em 2em;
}
h2 h4 h6 li {
    text-align: center;
}
li{
    margin-bottom: 1em;
}
alpha-bg{
    background-color:rgba(0,0,0,0.2);
}
.job{
    margin-top: 2em;
    margin-bottom: 2em;
}
.company-information{
    margin-bottom: 2em;
}
a{
    text-decoration-color: darkorchid;
    color: rgb(255, 0, 255);
    text-shadow:  4px 4px 6px pink;
}