<section>
    <ul class="row" style="margin-top: 100px;">
        <li class="col-md-12 project"><p>Front End & Dialogflow Developer | <a href="http://ellipticaai.com/">Elliptica AI</a></p></li>
        <li class="col-md-12 project"><p>Lambda & Lead Front End Developer | <a href="http://textract-ptg-poc.s3-website-us-west-2.amazonaws.com/">Textract</a></p></li>
        <li class="col-md-12 project"><p>C# API example with Docker | <a href="https://political-data.herokuapp.com/api/PoliticalData">Political Database Example</a></p></li>
    </ul>
</section>