<section class="row" id="landing">
        <section class="col-xs-12 vert-center-container">
            <video id="video-blur"style="width:100%; height: 100%;" class="img-responsive" autoplay loop>
                <source src="../../../assets/videos/landing.webm">
                <source src="../../../assets/videos/landing.mp4">
            </video>
            <section class="vert-center-text">
                <h4 class="typewriter col-xs-12">Engineering Collective Dreams</h4>
                <h5 class="col-xs-12">Fullstack Software Engineer</h5>
            </section>
        </section>
    </section>