#video-blur {
    filter: blur(3px);
    
}
.vert-center-text {
    position: absolute; 
    top: 40%; 
    left: 0;
    text-align: center; 
    width: 100%; 
 }
 
h3 { 
     color: violet;
     text-shadow: 2px 2px 3px black; 
 }
 h3:hover{
     color: purple;
     text-shadow: 4px 4px 6px violet;
 }
 h5{
     color: black;
     text-shadow: 1px 1px 6px red;
 }
 
 .vert-center-container {
   position:relative;
 }