#routeroutlet{
    padding-right: 0px;
    padding-left:0px;
}
#sidebar{
    z-index: 1;
    border-style: solid;
    border-color: #B2DFDB;
    border-top: 0px;
    border-right: 1px;
    border-bottom: 0px;
    border-left: 0px;
    min-height:100%;
}
