#routeroutlet{
    padding-right: 0px;
    padding-left:0px;
}
#sidebar{
    z-index: 1;
    border-style: solid;
    border-color: #B2DFDB;
    border-top: 0px;
    border-right: 1px;
    border-bottom: 0px;
    border-left: 0px;
    min-height:100%;
}

#profilepicture{
    max-width: 125px;
    max-height: 125px;
    border-radius: 50%;
  }
  
  p{
  
  }
  .sidebar-link{
    margin-bottom: 0px !important;
    margin-left: 4px;
    margin-right: 4px;
    display:flex;
    align-items: center;
    align-content: center;
    text-align: center;
    color: white;
    text-decoration: none; /* no underline */
  }
  