<section class="row sidebar">
    <img class="col-md-3" id="profilepicture" src="./../../../assets/images/portfolioimage.png">
    <section class="col-md-auto"></section>
        <a class="col-md-1 sidebar-link text-primary-color" routerLink="about">
            <p>About</p>
        </a>
        <a class="col-md-1 sidebar-link text-primary-color"routerLink="portfolio">
            <p>CV</p>
        </a>
        <a class="col-md-1 sidebar-link text-primary-color"routerLink="contact">
            <p>Contact</p>
        </a>
</section>