<section class="row">
    <img class="col-md-12" id="profilepicture" src="./../../../assets/images/portfolioimage.png">
    <p class="col-md-12 sidebar-link default-primary-color text-primary-color"><a class="sidebarlink" routerLink="about">About</a></p>
    <p class="col-md-12 sidebar-link default-primary-color text-primary-color"><a class="sidebarlink" routerLink="portfolio">Portfolio</a></p>
    <p class="col-md-12 sidebar-link default-primary-color text-primary-color"><a class="sidebarlink" routerLink="contact">Contact</a></p>
</section>