
#profilepicture{
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
}

p{

}
a{
  margin-bottom: 0px !important;
  margin-left: 4px;
  margin-right: 4px;
  display:flex;
  align-items: center;
  color: white;
  text-decoration: none; /* no underline */
}
